## {{ ansible_managed }}
## 
{% if item != "localitem" and item != "127.0.0.1" %}
Host {{hostvars[item].inventory_hostname_short}}
{% if hostvars[item].ansible_ssh_host is defined %}HostName {{hostvars[item].ansible_ssh_host}}
{% else %}HostName {{hostvars[item].inventory_hostname}}
{% endif %}
{% if hostvars[item].ansible_ssh_user is defined %}User {{hostvars[item].ansible_ssh_user}}
{% elif hostvars[item].ansible_user_id is defined %}User {{hostvars[item].ansible_user_id}}
{% endif %}
{% if hostvars[item].ansible_ssh_port is defined %}Port {{hostvars[item].ansible_ssh_port}}
{% endif %}
{% if hostvars[item].ansible_ssh_private_key_file is defined %}IdentityFile {{hostvars[item].ansible_ssh_private_key_file}}
{% endif %}
{% endif %}
